

.projects {
    position: relative;
    height: auto;
    padding: 10vh 0;
    /* height: 100vh; */
    color: var(--colorBlack);
    background-color: var(--colorLightPink);
}

.projectsContainer {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    /* top: 50%;  
    left: 50%;
    transform: translate(-50%,-50%); */
}

.projectsContainer h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
}


/* ////////////////////////////// */
/* .projectsContent {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    height: 530px;
    border: 3px solid var(--colorLightBlack);
    border-radius: 10px;
} */

.projectsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid var(--colorLightPink); */
    /* border-radius: 10px; */
    /* padding: 2vh 0; */
}


.articleDisplay {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin: 25px 0 0;
    gap: 50px;
    
    /* width: 55vw; */
}
/* ////////////////////////// */

