/* ------------------------------------- */
/* -----------  COMPETENCES ------------ */
/* ------------------------------------- */

.competence {
    position: relative;
    height: auto;
    min-height: 100vh;
    padding: 15vh 0 0;
    color: var(--colorLightPink);
    background-color: var(--colorBlack);
}

.competenceContainer {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

.competenceContainer h2 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.competenceContent {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardDisplay {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

