/* ------------------------------------- */
/* -------------  CONTACT  ------------- */
/* ------------------------------------- */

.contact {
    position: relative;
    height: auto;
    min-height: 100vh;
    padding: 15vh 0;
    color: var(--colorLightPink);
    background-color: var(--colorBlack);
}

.contactContainer {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.contactContainer h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 30px;
}

form {
    padding: 40px 0px;
    background-color: var(--colorLightBlack);
    color: var(--colorLightPink);
    font-weight: 600;
    border-radius: 10px;
}

.sections {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

article {
    padding: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

select,
input,
textarea {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--colorLightPink);
    color: var(--colorBlack);
    font-weight: 500;
    font-size: 1.2rem;
    padding:  10px;
    border-radius: 5px;
}

select {
    font-family: 'Poppins', sans-serif;
    padding: 7px;
}

/* input {
    width: 100%;
} */

textarea {
    font-family: 'Poppins', sans-serif;
    /* height: 75%; */
}

.sendMessage {
    display: block;
    width: 200px; 
    margin: 15px auto 0;
    padding: 15px 0;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.sendMessage:hover {
    background-color: var(--colorBlack);
    color: var(--colorLightPink);   
} 

/* option {
    background-color: var(--colorLightBlack);
    color: var(--colorLightPink);
} */

.contactFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60px;
    /* color: #f2e9eb98; */
    color: #f2e9ebbe;
    background-color: var(--colorBlack);
}


/* ------------------------------------- */
/* ---------  MEDIA QUERIES  ----------- */
/* ------------------------------------- */

@media only screen and (min-width: 800px) {
    .contactContainer {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    .contactContainer {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .contactContainer {
        max-width: 50%;
    }
}

/* Disposition du formulaire en deux colonnes */
@media only screen and (min-width: 1400px) {
    .contactContainer {
        max-width: 80%;
    }
    .sections {
        flex-direction: row;
        width: 80%;
        width: 100%;
        justify-content: center;
        gap: 6%;
    }
    .left, .right {
        width: 40%;
    }
    textarea {
        height: 255px;
    }
}

@media only screen and (min-width: 1600px) {
    .contactContainer {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1900px) {
    .contactContainer {
        max-width: 60%;
    }
}