/* ------------------------------------- */
/* -------------  CONTACT  ------------- */
/* ------------------------------------- */

.contact {
    position: relative;
    height: auto;
    min-height: 100vh;
    padding: 15vh 0 10vh;
    color: var(--colorLightPink);
    background-color: var(--colorBlack);
}

.contactContainer {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.contactContainer h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 30px;
}
