/* ------------------------------------- */
/* -------------  NAVBAR   ------------- */
/* ------------------------------------- */

nav {
    background-color: var(--colorLightPink);
    display: flex;
    justify-content: space-between;
}

nav img {
    /* visibility: hidden; */
    height: 36px;
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

nav ul {
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 12px 16px;
    /* height: 100%; */
}

nav ul li:not(.logo):hover {
    background-color: var(--colorBlack);
}

nav ul li:hover a {
    color: var(--colorLightPink);
}

nav ul li a {
    color: var(--colorBlack);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}




/* ------------------------------------- */
/* ----------  MEDIA QUERIES ----------- */
/* ------------------------------------- */

@media only screen and (min-width: 800px) {
    /* nav img {
        visibility: visible;
    } */
    nav ul li a {
        font-size: 1.2rem;
        position: relative;
    }

    /* 
        Ajout de la transition sur les lignes au-dessus et en-dessous du lien 
        lorsqu'on le survole. 
    */
    nav ul li:not(.logo) a::before {
        transition: 300ms;
        height: 2px;
        content: "";
        position: absolute;
        top: -2px;
        background-color: var(--colorLightBlack);
        width: 0%;
        bottom: 10px;
    }
    nav ul li:not(.logo) a::after {
        transition: 300ms;
        height: 2px;
        content: "";
        position: absolute;
        top: 27px;
        left: 0;
        background-color: var(--colorLightBlack);
        width: 0%;
        bottom: 10px;
    }

    nav ul li:not(.logo) a:hover::before {
        width: 100%;
    }
    nav ul li:not(.logo) a:hover::after {
        width: 100%;
    }

    /* 
        Maintenir les couleurs car elles sont changées en mode mobile (< 800px)
    */
    nav ul li:not(.logo):hover {
        background-color: var(--colorLightPink);
    }
    
    nav ul li:not(.logo):hover a {
        color: var(--colorLightBlack);
    }

}



@media only screen and (min-width: 1000px) {
    nav img {
        height: 54px;
    }
    nav ul li a {
        font-size: 1.4rem;
    }

    nav ul li:not(.logo) a::after {
        top: 32px;
    }
}



/* ------------------------------------- */
/* -----------  SCROLL SPY  ------------ */
/* ------------------------------------- */
/* 
    Ajout des lignes au-dessus et en-dessous du lien 
    lorsqu'on est sur la section correspondante. 
*/
.scrollSpy{
    border-bottom: 2px solid var(--colorLightBlack);
    border-top: 2px solid var(--colorLightBlack);
  }